---
#### calculated correlations in the script called 'network_analysis.ipynb' were used to visualize following network in cytoscape program.

![alternative text](../data/corr_network/outputs/networkvisulization/seasons_correlation_networks.png)

In [2]:
#setworking directory to AbioticAraMicrobe/
setwd('../')

---
#### to do that first, we extracted significant correlations and then we made a edge table (interactions between otus) and a node table (information per otus) . Edge table and node table were used to visualize the network in cytoscape program,

In [3]:
#open correlation and pvalue file for each time point.
#keep only significant pvalues (pvalue <=0.001) , output file called 'finalfile'

setwd('data/corr_network/outputs')
count = 0
finalfile <- data.frame()
for ( i in list.dirs()){
        print(i)
        count = count + 1
        if (count >1){
            Pvals <- read.table(file = paste(i,"/" , "pvalues.tsv" , sep=""), sep="\t", header=T, row.names=1,  comment.char = "") #pvalue file 
            Pvals1 <- as.matrix(Pvals)
            Pvals1[upper.tri(Pvals, diag=TRUE)]<- NA
            Pvals2 <- as.data.frame(as.table(Pvals1))
            colnames(Pvals2)<-c("Node1","Node2","Pvalue")
            Cors <- read.table(file = paste(i,"/" , "median_correlation.tsv" , sep=""), sep="\t", header=T, row.names=1 , comment.char = "") #correlation file
            Cors1 <- as.matrix(Cors)
            Cors1[upper.tri(Cors1, diag=TRUE)]<-NA
            Cors2 <- as.data.frame(as.table(Cors1))
            colnames(Cors2)<-c("Node1","Node2","Cor")
            Edge_table <- cbind(Pvals2,Cors2$Cor, deparse.level=2)
            Edge_table_final <- Edge_table[!is.na(Edge_table$Pvalue),]
            colnames(Edge_table_final) <- c("Node1","Node2","Pvalue","Cor")
            #Edge_table_final1 = Edge_table_final
            Edge_table_final1 <- Edge_table_final[Edge_table_final$Pvalue <= 0.001 ,]
            Edge_table_final1 <- subset(Edge_table_final1,abs(Edge_table_final1$Cor)>0)
            Edge_table_final1$CorrB <- ifelse(Edge_table_final1$Cor >=0, "Positive", "Negative")
            print(basename(i))
            print(dim(Edge_table_final1))
            Edge_table_final1$data <- basename(i)
            finalfile <- rbind(finalfile , Edge_table_final1)
        }
}

[1] "."
[1] "./Fall2014"
[1] "Fall2014"
[1] 10209     5
[1] "./Fall2015"
[1] "Fall2015"
[1] 7606    5
[1] "./Fall2016"
[1] "Fall2016"
[1] 5499    5
[1] "./Fall2017"
[1] "Fall2017"
[1] 7447    5
[1] "./Fall2018"
[1] "Fall2018"
[1] 4267    5
[1] "./Spring2014"
[1] "Spring2014"
[1] 1978    5
[1] "./Spring2015"
[1] "Spring2015"
[1] 3093    5
[1] "./Spring2016"
[1] "Spring2016"
[1] 12976     5
[1] "./Spring2017"
[1] "Spring2017"
[1] 12553     5
[1] "./Spring2018"
[1] "Spring2018"
[1] 7424    5
[1] "./Spring2019"
[1] "Spring2019"
[1] 6440    5

---
#### some processing on the edge table , add a time column to data (generated file df1)

In [14]:
library(tidyr)
head(finalfile)
df <- finalfile
df[c(1,2)] <- lapply(df[c(1,2)], gsub, pattern = "_B_", replacement = "_B_sepfromhere_")
df[c(1,2)] <- lapply(df[c(1,2)], gsub, pattern = "_F_", replacement = "_F_sepfromhere_")
df[c(1,2)] <- lapply(df[c(1,2)], gsub, pattern = "_O_", replacement = "_O_sepfromhere_")

df = separate(df,Node1, sep = "sepfromhere" , into = c("OTU1" , "microbe1") , remove = FALSE)
df = separate(df,Node2, sep = "sepfromhere" , into = c("OTU2" , "microbe2") , remove = FALSE)
df1 = df[c(2,5,7:10)]

df1 = separate(df1,data, sep = "2" , into = c("season" , "year") , remove = FALSE)
df1$time = "no_time"
head(df1)

    Node1
18  Otu000024_B_Allorhizobium-Neorhizobium-Pararhizobium-Rhizobium
54  Otu000072_B_Sphingomonas
924 Otu000015_B_Sphingomonas
925 Otu000016_B_Methylobacterium-Methylorubrum
931 Otu000027_B_Bosea
934 Otu000033_B_Aureimonas
    Node2                                      Pvalue Cor    CorrB    data
18  Otu000002_B_Sphingomonas                   0.001  0.3919 Positive Fall2014
54  Otu000002_B_Sphingomonas                   0.001  0.4715 Positive Fall2014
924 Otu000003_B_Methylobacterium.Methylorubrum 0.001  0.5118 Positive Fall2014
925 Otu000003_B_Methylobacterium.Methylorubrum 0.001  0.5659 Positive Fall2014
931 Otu000003_B_Methylobacterium.Methylorubrum 0.001  0.5217 Positive Fall2014
934 Otu000003_B_Methylobacterium.Methylorubrum 0.001  0.4105 Positive Fall2014

    OTU1         OTU2         Pvalue Cor    CorrB    data     season year
18  Otu000024_B_ Otu000002_B_ 0.001  0.3919 Positive Fall2014 Fall   014
54  Otu000072_B_ Otu000002_B_ 0.001  0.4715 Positive Fall2014 Fall   014
924 Otu000015_B_ Otu000003_B_ 0.001  0.5118 Positive Fall2014 Fall   014
925 Otu000016_B_ Otu000003_B_ 0.001  0.5659 Positive Fall2014 Fall   014
931 Otu000027_B_ Otu000003_B_ 0.001  0.5217 Positive Fall2014 Fall   014
934 Otu000033_B_ Otu000003_B_ 0.001  0.4105 Positive Fall2014 Fall   014
    time
18  no_time
54  no_time
924 no_time
925 no_time
931 no_time
934 no_time

In [15]:
#psudo edges between consecuative seasons
#psudo edges for year , if between two comparison timepoint(for example spring1-spring2) there is a same nodes, make a edge between the nodei-nodei 
#Note this is only for visulization 
#file called df2

library(dplyr)

df2 = data.frame()
listTime <- list(c("Spring2014" , "Spring2015") ,c("Spring2015" , "Spring2016"),c("Spring2016" , "Spring2017")  ,c("Spring2017" , "Spring2018")  ,c("Spring2018" , "Spring2019"), 
                   c("Fall2014" , "Fall2015") ,c("Fall2015" , "Fall2016"),c("Fall2016" , "Fall2017")  ,c("Fall2017" , "Fall2018"), 
                   c("Fall2014" , "Spring2015") ,c("Fall2015" , "Spring2016"),c("Fall2016" , "Spring2017")  ,c("Fall2017" , "Spring2018")  ,c("Fall2018" , "Spring2019")) #

for (i in 1:length(listTime)){
    temp <- df1[(df1$data %in% listTime[[i]][1] | df1$data %in% listTime[[i]][2]) , ]
    temp$time = paste(listTime[[i]][1] , listTime[[i]][2] , sep = "_")
    node1 = temp[,-c(2)]
    node2 = temp[,-c(1)]
    names(node2)[names(node2) == 'OTU2'] <- 'OTU1'
    node = rbind(node1,node2)
    node$name = paste(node$OTU1 , node$time , sep = "_sep_")
    node$OTUTimePoint = paste(node$OTU1 , node$data , sep = "_sep_")
    node = node[!(duplicated(node$OTUTimePoint)) , ]
    head(node)
    psudonode = node %>%
        group_by(OTU1, time) %>%
        summarise(count=n())
    table(psudonode$count)
    psudonode = psudonode[psudonode$count==2,]
    head(psudonode)
    psudonode$OTU2 = psudonode$OTU1
    head(psudonode)

    psudonode1 = psudonode[-c(3)]
    psudonode1[c("Pvalue","Cor","CorrB","rangeP","data","season","year")] = "na"
    psudonode1$CorrB="psudo"

    psudonode1 = psudonode1[c("OTU1","OTU2","Pvalue",	"Cor",	"CorrB"	,"rangeP"	,"data"	,"season"	,"year",	"time")]
    
    df2 = rbind(df2,psudonode1)
}

df2$Pvalue = 0
df2$Cor = 0

#df2 has all the pseud0 edges between stable edges between 2 time pointes of listTime

`summarise()` has grouped output by 'OTU1'. You can override using the
`.groups` argument.
`summarise()` has grouped output by 'OTU1'. You can override using the
`.groups` argument.
`summarise()` has grouped output by 'OTU1'. You can override using the
`.groups` argument.
`summarise()` has grouped output by 'OTU1'. You can override using the
`.groups` argument.
`summarise()` has grouped output by 'OTU1'. You can override using the
`.groups` argument.
`summarise()` has grouped output by 'OTU1'. You can override using the
`.groups` argument.
`summarise()` has grouped output by 'OTU1'. You can override using the
`.groups` argument.
`summarise()` has grouped output by 'OTU1'. You can override using the
`.groups` argument.
`summarise()` has grouped output by 'OTU1'. You can override using the
`.groups` argument.
`summarise()` has grouped output by 'OTU1'. You can override using the
`.groups` argument.
`summarise()` has grouped output by 'OTU1'. You can override using the
`.groups` argument.
`summarise()` has grouped output by 'OTU1'. You can override using the
`.groups` argument.
`summarise()` has grouped output by 'OTU1'. You can override using the
`.groups` argument.
`summarise()` has grouped output by 'OTU1'. You can override using the
`.groups` argument.

In [16]:
#now we need to add pseudo edges to the main edge table.
#as some nodes are repeated between timepoints we need to make uniue names for the nodes. this helps to make cluster in the natwork visulization.
#adding "seasonyear" to each node will solve the proble. because we will cluster them by season year information
head(df1)
head(df2)
df1$OTU1 <- paste(df1$OTU1,df1$data , sep = "")
df1$OTU2 <- paste(df1$OTU2,df1$data , sep = "")

df2 <- separate(data = df2 , col = time , into = c("time1" , "time2") , remove = FALSE)

df2$OTU1 <- paste(df2$OTU1,df2$time1 , sep = "")
df2$OTU2 <- paste(df2$OTU2,df2$time2 , sep = "")

head(df2)

    OTU1         OTU2         Pvalue Cor    CorrB    data     season year
18  Otu000024_B_ Otu000002_B_ 0.001  0.3919 Positive Fall2014 Fall   014
54  Otu000072_B_ Otu000002_B_ 0.001  0.4715 Positive Fall2014 Fall   014
924 Otu000015_B_ Otu000003_B_ 0.001  0.5118 Positive Fall2014 Fall   014
925 Otu000016_B_ Otu000003_B_ 0.001  0.5659 Positive Fall2014 Fall   014
931 Otu000027_B_ Otu000003_B_ 0.001  0.5217 Positive Fall2014 Fall   014
934 Otu000033_B_ Otu000003_B_ 0.001  0.4105 Positive Fall2014 Fall   014
    time
18  no_time
54  no_time
924 no_time
925 no_time
931 no_time
934 no_time

  OTU1         OTU2         Pvalue Cor CorrB rangeP data season year
1 Otu000002_B_ Otu000002_B_ 0      0   psudo na     na   na     na
2 Otu000003_B_ Otu000003_B_ 0      0   psudo na     na   na     na
3 Otu000004_B_ Otu000004_B_ 0      0   psudo na     na   na     na
4 Otu000005_B_ Otu000005_B_ 0      0   psudo na     na   na     na
5 Otu000006_B_ Otu000006_B_ 0      0   psudo na     na   na     na
6 Otu000010_B_ Otu000010_B_ 0      0   psudo na     na   na     na
  time
1 Spring2014_Spring2015
2 Spring2014_Spring2015
3 Spring2014_Spring2015
4 Spring2014_Spring2015
5 Spring2014_Spring2015
6 Spring2014_Spring2015

  OTU1                   OTU2                   Pvalue Cor CorrB rangeP data
1 Otu000002_B_Spring2014 Otu000002_B_Spring2015 0      0   psudo na     na
2 Otu000003_B_Spring2014 Otu000003_B_Spring2015 0      0   psudo na     na
3 Otu000004_B_Spring2014 Otu000004_B_Spring2015 0      0   psudo na     na
4 Otu000005_B_Spring2014 Otu000005_B_Spring2015 0      0   psudo na     na
5 Otu000006_B_Spring2014 Otu000006_B_Spring2015 0      0   psudo na     na
6 Otu000010_B_Spring2014 Otu000010_B_Spring2015 0      0   psudo na     na
  season year time                  time1      time2
1 na     na   Spring2014_Spring2015 Spring2014 Spring2015
2 na     na   Spring2014_Spring2015 Spring2014 Spring2015
3 na     na   Spring2014_Spring2015 Spring2014 Spring2015
4 na     na   Spring2014_Spring2015 Spring2014 Spring2015
5 na     na   Spring2014_Spring2015 Spring2014 Spring2015
6 na     na   Spring2014_Spring2015 Spring2014 Spring2015

In [17]:
#save node and edge table , and open edge table in cytoscape to visulize the network.
# cytoscape file called '/AbioticAraMicrobe/data/corr_network/outputs/networkvisulization/seasons_correlation_networks.cys'

dir.create('../outputs/networkvisulization/')
df_final = rbind(df1[c(1:5)] , df2[c(1:5)])
head(df_final)

write.table(df_final , "../outputs/networkvisulization/edge.csv" , quote = FALSE , sep = "," , row.names = FALSE)
#nodetable
n1 <- df_final[c(1)]
colnames(n1) = "node"
n2 <- df_final[c(2)]
colnames(n2) = "node"

n= data.frame(rbind(n1,n2))

n = data.frame(n[!(duplicated(n$node)),])
colnames(n) = "node"
n = separate(n , node , into = c("microbe" , "taxa" , "time") , sep = "_" , remove = FALSE)

head(n)
write.table(n , "../outputs/networkvisulization/node.csv" , quote = FALSE , sep = "," , row.names = FALSE)

    OTU1                 OTU2                 Pvalue Cor    CorrB
18  Otu000024_B_Fall2014 Otu000002_B_Fall2014 0.001  0.3919 Positive
54  Otu000072_B_Fall2014 Otu000002_B_Fall2014 0.001  0.4715 Positive
924 Otu000015_B_Fall2014 Otu000003_B_Fall2014 0.001  0.5118 Positive
925 Otu000016_B_Fall2014 Otu000003_B_Fall2014 0.001  0.5659 Positive
931 Otu000027_B_Fall2014 Otu000003_B_Fall2014 0.001  0.5217 Positive
934 Otu000033_B_Fall2014 Otu000003_B_Fall2014 0.001  0.4105 Positive

  node                 microbe   taxa time
1 Otu000024_B_Fall2014 Otu000024 B    Fall2014
2 Otu000072_B_Fall2014 Otu000072 B    Fall2014
3 Otu000015_B_Fall2014 Otu000015 B    Fall2014
4 Otu000016_B_Fall2014 Otu000016 B    Fall2014
5 Otu000027_B_Fall2014 Otu000027 B    Fall2014
6 Otu000033_B_Fall2014 Otu000033 B    Fall2014